@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }
  h4 {
    font-weight: bold;
  }
  h5 {
    font-size: 0.83em;
    font-weight: bold;
  }
  h6 {
    font-size: 0.67em;
    font-weight: bold;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    padding: 0;
    margin-left: 40px;
  }
  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom:10px
  }
  img {
    display: inline;
  }
}